# Xcode secrets
KanjiQuest.xcconfig
KanjiQuestPhone.xcconfig
*.xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/

# CocoaPods (not used, but just in case)
Pods/

# SPM
.build/

# XCFrameworks (copied at build time)
Frameworks/

# OS
.DS_Store
